<div class="container mt-4">
  <div class="row mt-4">
    <div class="col-6">
      <h1 class="mt-4 mb-4">Geração de Cobrança</h1>
      <p>A seguir informe o valor da cobrança a ser gerada</p>
      <form action="">
        <div class="form-row">
          <div class="col"><input type="text" class="form-control" placeholder="Valor"></div>
          <div class="col"><button class="btn btn-primary">Gerar Cobrança</button></div>
        </div>
      </form>

    </div>
    <div class="col-6">
      <h1 class="mt-4 mb-4">QR Code</h1>
      <p>Aponte seu dispositivo para o QR Code abaixo para efetuar o pagamento</p>
    </div>
  </div>

</div>